<%- include ('./partials/head.ejs') -%>
<%- include ('./partials/title-banner.ejs') -%>

<body>
    <main>
        <h2>Jouw klassen</h2>

        <ol class="grid grid--overview">
            <% classData.forEach(item => { %>
                <li>
                    <a class="box-shadow" href="<%= item.linkRef %><% if (item.teams.length) { %>/home<% } %>">
                        <div>
                            <h3><%= item.title %></h3>
                            <p><%= item.students.length %> studenten</p>
                        </div>
                        <p>Bekijk klas</p>
                    </a>
                </li>
            <% }) %>
        </ol>

        <div class="btn--container">
            <a class="btn--small btn--small-arrow" href="<%= prevURL %>"><img src="../../public/images/icons/arrow-icon.svg" alt="Back icon"></a>
        </div>
    </main>
</body>

<script src="../../public/js/color-generator.js"></script>