<%- include ('./partials/head.ejs') -%>

<body class="<%= className %> yellow-bg">
    <%- include ('./partials/title-banner.ejs') -%>

    <main>
        <ul class="grid grid--overview grid--img">
            <% studentData.forEach(item => { %>
                <li>
                    <a class="box-shadow" href="#">
                        <img src="/public/<%= item.user.profile_pic %>" alt="Profielfoto van <%= item.user.name %>">
                    </a>
                </li>
            <% }) %>
        </ul>

        <div class="btn--container">
            <a class="btn--small btn--small-arrow" href="<%= prevURL %>"><img src="/public/images/icons/arrow-icon.svg" alt="Back icon"></a>
            <% if (userData.type == 'teacher' && !classTeams.length) { %>
                <a class="btn form-trigger" href="teams">Teams aanmaken</a>
            <% } %>
        </div>

        <% if (userData.type == 'teacher') { %>
            <%- include ('./partials/form.ejs') -%>
        <% } %>
    </main>
</body>

<% if (classTeams != undefined && !classTeams.length) { %>
     <script async src="/public/js/form-script.js"></script>
<% } %>