<%- include ('./partials/head.ejs') -%>
<%- include ('./partials/title-banner.ejs') -%>

<body class="yellow-bg">
    <main class="home">
        <div>
            <a href="<%= prevURL %>/<%= linkRef %>" class="btn">Alle studenten</a>
            <a href="<%= prevURL %>/<%= linkRef %>/teams" class="btn">Overzicht van teams</a>
        </div>

        <div class="btn--container">
            <a class="btn--small btn--small-arrow" href="<%= prevURL %>"><img src="<%= root %>/public/images/icons/arrow-icon.svg" alt="Back icon"></a>
        </div>
    </main>
</body>