<%- include ('./partials/head.ejs') -%>
<%- include ('./partials/profile-banner.ejs') -%>

<body>
    <main>
        <h2>Jouw gegeven vakken</h2>

        <ul class="grid grid--list">
            <% courseData.forEach((item) => { %>
                <li>
                    <a class="box-shadow" href="<%= baseURL %>/<%= item.course.linkRef %>/classes">
                        <p><%= item.acronym %></p>
                        <div>
                            <h3><%= item.course.title %></h3>
                            <p><%= item.classes.length %> klassen</p>
                        </div>

                        <img class="icon" src="<%= root %>/public/images/icons/arrow-icon.svg" alt="Accordion arrow icon">
                    </a>
                </li>
            <% }) %>
        </ul>
    </main>
</body>

<script src="<%= root %>/public/js/color-generator.js"></script>