<%- include ('./partials/head.ejs') -%>

<body>
    <%- include ('./partials/title-banner.ejs') -%>

    <main>
        <form action="/profile/<%= username %>/<%= formAction %>" method="post" id="form">

            <%- include ('./partials/select-input.ejs') -%>



            <button type="submit">Volgende vraag</button>
        </form>

    </main>
</body>