<%- include ('./partials/head') -%>

<body>
    <%- include ('./partials/title-banner') -%>

    <main class="form--overview">
        <form action='/users/register' method='POST' enctype='multipart/form-data'>
            <fieldset>
                <legend>Welkom!</legend>
                <%- include ('./partials/messages')-%>

                <div>
                    <label for="name">Naam *</label>
                    <input type='name' class="input input--normal" id='name' name='name' class='form-control' placeholder='naam' value='<%= typeof name != 'undefined' ? name : '' %>' />
                </div>
                
                <div>
                    <label for="username">Gebruikersnaam *</label>
                    <input type='username' class="input input--normal" id='username' name='username' class='form-control' placeholder='gebruikersnaam' value='<%= typeof username != 'undefined' ? username : '' %>' />
                </div>
                
                <div>
                    <label for="email">Email *</label>
                    <input type='email' class="input input--normal" id='email' name='email' class='form-control' placeholder='email' value='<%= typeof email != 'undefined' ? email : '' %>' />
                </div>

                <div>
                    <label for="password">Wachtwoord *</label>
                    <input type='password' class="input input--normal" id='password' name='password' class='form-control' placeholder='*************' value='<%= typeof password != 'undefined' ? password : '' %>' />
                </div>

                <div>
                    <label for="password2">Herhaal wachtwoord *</label>
                    <input type='password' class="input input--normal" id='password2' name='password2' class='form-control' placeholder='*************' value='<%= typeof password2 != 'undefined' ? password2 : '' %>' />
                </div>
                
            </fieldset>

            <fieldset>
                <legend>Wat ben jij? *</legend>

                <div class="toggle-container" id="toggle-container">
                    <div id="toggle-yes">
                        <input class="input input--custom" type="radio" id="student" name="type" value="student" checked="true">
                        <label for="student"><span>Student</span></label>
                    </div>

                    <div id="toggle-no">
                        <input class="input input--custom" type="radio" id="teacher" name="type" value="teacher">
                        <label for="teacher"><span>Docent</span></label>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Profiel foto</legend>
                <label for='profile_pic'>Upload afbeelding</label>
                <input type='file' name='profile_pic' id='profile_pic'>
            </fieldset>

            <button type='submit'>Registreren</button>
        </form>
        <a href='./login'>Ik heb al een account</a>
    </main>
</body>

<script async src="/public/js/toggle-script.js"></script>