<%- include ('./partials/head') -%>
<body>
    <header></header>
    <main>
            <form action='/users/register'  class="register" method='POST'>
                <fieldset>
                    <legend>Registreren</legend>
                    <%- include ('./partials/messages')-%>
                    <label for="name">Naam</label>                   
                    <input type='name' id='name' name='name' class='form-control' placeholder='naam'                        
                        value='<%= typeof name != 'undefined' ? name : '' %>' />
                        <label for="username">Gebruikersnaam</label>    
                        <input type='username' id='username' name='username' class='form-control' placeholder='gebruikersnaam'                        
                        value='<%= typeof username != 'undefined' ? username : '' %>' />
                        <label for="email">Email</label>     
                    <input type='email' id='email' name='email' class='form-control' placeholder='email'
                        value='<%= typeof email != 'undefined' ? email : '' %>' />
                        <label for="password">Wachtwoord</label>    
                    <input type='password' id='password' name='password' class='form-control'
                        placeholder='*************' value='<%= typeof password != 'undefined' ? password : '' %>' />
                        <label for="password2">Herhaal wachtwoord</label>    
                    <input type='password' id='password2' name='password2' class='form-control'
                        placeholder='*************' value='<%= typeof password2 != 'undefined' ? password2 : '' %>' />
                </fieldset>
                <fieldset>
                    <legend>Wat ben jij?</legend>
                    <input type="radio" name="type" id="student" value="student">
                    <label for="student">Student</label>
                    <input type="radio" name="type" id="teacher" value="teacher">
                    <label for="teacher">Teacher</label>
                </fieldset>                
                <button type='submit'>Register</button>
            </form>
            <!-- <button id="moreLess">More genres</button> -->
            <a href='./login'>Inloggen</a>
        </main>
</body>
